@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  cursor: none;
}

.mediaImg{
  display: inline-block;
  width: 48%;
  margin: 1%;
  min-width: 100px;
}

.mediaImgFull{
  display: inline-block;
  width: 100%;
  animation: fade-in-from-left 1s forwards ease;
}

.moveRight{
  background: #744123;
  animation: move-right 1s forwards ease;
}

.moveLeft{
  background: #744123;
  animation: move-left 1s forwards ease;
}

.leftToRight{
  background: #744123;
  animation: move-left-to-right .5s forwards linear;
}

.rightToLeft{
  background: #744123;
  animation: move-right-to-left .5s forwards linear;
}

@keyframes move-right {
  from {
  }
  to {
    left: 80%;
    opacity: 0.5;
  }
}

@keyframes move-left {
  from {
  }
  to {
    left: 20%;
    opacity: 0.5;
  }
}

@keyframes move-left-to-right {
  from {
    left: 80%;
    opacity: 0.5;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}
@keyframes move-right-to-left {
  from {
    left: 20%;
    opacity: 0.5;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

.moveRight:hover{
  left: 20%;
  opacity: 1;
}

.splashContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  cursor: none;
}

.splashImg{
  height: 45%;
  max-height: 480px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .2s;
}

.splashImgColor{
  background: #744123;
}

.splashImgColor:hover{
  animation: blinking-bar .2s forwards infinite;
}

.splashImg:hover{
  height: 52%;
  max-height: 405px;
}

.splashBanner{
  font-family: 'Source Code Pro', monospace;
  font-size: 42px;
  font-weight: 500;
  margin-top: 12px;
  z-index: 10;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .2s;
}

.splashBanner:hover{
  font-size: 44px;
  font-weight: 700;
  animation: blinking .2s forwards infinite;
}

.splashSubBanner{
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  font-weight: 200;
  position: absolute;
  top: calc(77% + 50px);
  left: 50%;
  transform: translate(-50%,-50%);
}

.splashMouse{
  position: absolute;
  z-index: -1;
  transform: translate(-50%,-50%);
  animation: blinking-circle .5s forwards infinite;
  border-radius: 50%;
}

.webText{
  font-family: 'Source Code Pro', monospace;
  position: absolute;
  font-size: 24px;
  font-weight: 200;
  color: #111;
  transition: all .2s;
  z-index: 10;
}

.webText:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #111;
  animation: blinking-bar .2s forwards infinite;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.webText:hover:after { 
  width: 80%; 
  left: 10%; 
  animation: blinking-bar .2s forwards infinite;
}

.webText:hover{
  font-size: 26px;
  font-weight: 400;
  animation: blinking .2s forwards infinite;
}

.topLeft{
  top: 6%;
  left: 6%;
}

.topRight{
  top: 6%;
  right: 6%;
}

.bottomLeft{
  bottom: 6%;
  left: 6%;
}

.bottomRight{
  bottom: 6%;
  right: 6%;
}

@keyframes blinking {
  from{
      color: #4285F4;
  }
  to {
      color: #F4B400;
  }
}

@keyframes blinking-bar {
  from{
      background: #4285F4;
  }
  50% {
      background: #F4B400;
  }
  100%{
      background: #4285F4;
  }
}

@keyframes blinking-circle {
  0%{
      border: 1px solid #4285F4;
      height: 20px;
      width: 20px;
  }
  50% {
      border: 1px solid #F4B400;
      height: 30px;
      width: 30px;
  }
  100%{
      border: 1px solid #4285F4;
      height: 20px;
      width: 20px;
  }
}

.leftBody{
  position: absolute;
  top: 18%;
  left: 12%;
  width: 32%;
  height: 40%;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  line-height: 1.5;
  color: #777;
  opacity: 0;
  animation: fade-in-from-left 1s forwards ease;
  animation-delay: .5s;
}

.rightBody{
  position: absolute;
  top: 18%;
  right: 12%;
  width: 32%;
  height: 40%;
  font-size: 18px;
  font-weight: 300;
  text-align: right;
  line-height: 1.5;
  color: #777;
  opacity: 0;
  animation: fade-in-from-right 1s forwards ease;
  animation-delay: .5s;
}

@keyframes fade-in-from-left {
  from {
    opacity: 0;
    transform: translateX(-100%)
  }
  to {
    opacity: 1;
    transform: translateX(0%)
  }
}

@keyframes fade-in-from-right {
  from {
    opacity: 0;
    transform: translateX(100%)
  }
  to {
    opacity: 1;
    transform: translateX(0%)
  }
}








@media only screen and (max-width: 800px){
  @keyframes move-right {
    from {
    }
    to {
      left: 100%;
      opacity: 0.5;
    }
  }
  
  @keyframes move-left {
    from {
    }
    to {
      left: 0%;
      opacity: 0.5;
    }
  }
  
  @keyframes move-left-to-right {
    from {
      left: 100%;
      opacity: 0.5;
    }
    to {
      left: 50%;
      opacity: 1;
    }
  }
  @keyframes move-right-to-left {
    from {
      left: 0%;
      opacity: 0.5;
    }
    to {
      left: 50%;
      opacity: 1;
    }
  }

  .leftBody{
    left: 8%;
    width: 48%;
    font-size: 12px;
  }
  
  .rightBody{
    right: 8%;
    width: 48%;
    font-size: 12px;
  }

  .splashBanner{
    font-size: 36px;
    width: 100%;
  }

  .splashSubBanner{
    width: 100%;
  }
}